<div class="input">
    <label class="input__container">
        <input
                class="input__element"
                placeholder=""
                type={{type}}
                minlength={{minlength}}
                maxlength={{maxlength}}
                required={{required}}
        />
        <span class="input__label">{{label}}</span>
    </label>
    <p class="input__helper-text"></p>
</div>
